.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
  column-gap: 60px;
  top: 0px;
}
.nav-bar {
  left: 0px;
  top: 0px;
  width: 1178px;
  height: 74.39px;
  opacity: 1;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.logo-container {
  justify-content: center;
  display: flex;
}
.menu-icon {
  position: absolute;
  left: 280px;
  top: 25px;
  width: 24px;
  height: 22.41px;
}
.logo {
  position: absolute;
  left: 310px;
  top: 15.94px;
}
.logo a img {
  height: 50px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .nav-bar {
    left: 0px;
    top: 0px;
    min-width: 320px;
    max-width: 768px;
    height: 64.39px;
    opacity: 1;
    background: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .menu-icon {
    position: absolute;
    left: 80px;
    top: 25px;
    width: 24px;
    height: 22.41px;
  }
  .logo {
    position: absolute;
    left: 170px;
    top: 10.94px;
  }
}
